body, html, div#root {height: 100%; }

body {
    font-size: 16px;
    margin: 0;
}

* {
    font-family: Helvetica, sans-serif;
}

div#root {
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
    background: linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-left: 5%;
    padding-right: 5%;

    height: 9%;
  }

.searchfield {
    height: 40%;
    width: 15%;
    background: #f8f5f5;
    border: 1px solid #b9b9b9;
    border-radius: 20px;
    padding-left: 10px;   

    background-image: url("../icons/toolbar_find.ico");
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 15px;
}

main {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

main{
    padding: 7px;
}

#Profile {
    display: flex;
    flex-direction: column;

    max-width: 18rem;
    width: 100%;
    height: fit-content;
    padding-right: 5px;
}

#myProfile {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;

    padding-top: 10px;
    padding-bottom: 10px;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    height: 60px;
    width: 60px;

    margin-bottom: 5px;
}

#Info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f5f5;

    padding-left: 10px;
    padding-right: 10px;
}

#Info p {
    display: flex;
    flex-direction: column;
}

#number {
    font-weight: bold;
    color: #54bdd6;
}

#logout {
    border-radius: 20px;
    background-color: inherit;
    color: #54bdd6;
    border-color: #54bdd6;;
    max-width: 10rem;
    width: 25%;
    height: 2rem;

    margin-left: 50px;
}

#Feed {
    background-color: white;
    max-width: 25rem;
    width: 100%;
    height: fit-content;
}

#newPost {
  border-bottom: 2px solid #b9b9b9;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

#newPostAvatar {
    width: 2rem;
    height: 2rem;
}

#Feed .avatar {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#SaySomething {
    border: 1px solid #b9b9b9;
    border-radius: 20px;
    padding-left: 10px;

    margin-right: 20px;
    margin-left: 10px;
    width: 100%;
    height: 1.5rem;

    background-image: url("../icons/saysmthicon.png");
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 15px;

}

#SaySomething::placeholder {
    color: #54bdd6;
}

.post {
    display: flex;
    justify-content: space-between;
}

#post1 {
    border-bottom: 2px solid #b9b9b9;

    display: flex;

    padding-bottom: 10px;
}

#post2 {
   padding-bottom: 10px;
}


#feedAvatar {
    width: 2.5rem;
    height: 2.5rem;
}

.X {
    width: 15px;
    height: 15px;

    padding-top: 5px;
    padding-right: 5px;
}

bdi {
    font-size: small;
    color:grey;
}

.thumbs {
    width: 1rem;
    height: 1rem;
}

.thumbsLabel {
    font-size: 1rem;
    margin-right: 2rem;
}

@media screen and (max-width: 890px) {
    #Feed {
        max-width: 18rem;
        width: 100%;
        margin-right: 5px;
    }
}