#editor {
	display: block;
	width: 900px;
	border: 1px solid #c3c3c3;
	margin: 50px auto 0 auto;
}

#editor-text-container {
	height: 600px;
	overflow: auto;
	padding: 0 15px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

#editor-buttons {
	width: 100%;
	height: auto;
	display: block;
	max-width: 100%;
}

#text-div {
	font-weight: bold;
}

img {
	max-width: 300px;
	height: auto;
}

#text-div {
	display: block;
}